* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Indie Flower", cursive;
}

body {
  background-color: black;
  background-image: url(../images/background-planets.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
